/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Page Styles*/
body {
    font-family: Source Sans Pro;
    background: #fff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
body > *:not(footer){
    flex-shrink: 0;
}
/*Form-container*/
.form-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    text-align: center;
}
/*Form*/
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact-form input {
    padding: 12px 15px;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    font-size: 16px;
    transition: border-color 0.3s;
    outline: none;
}

.contact-form input:focus {
    border-bottom: 1px solid #ff6b6b;
}

.cta-button {
    margin-top: 10px;
    padding: 12px 24px;
    background-color: #ff6b6b;
    border: none;
    border-radius: 9999px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s transform 0.2s;
}
.cta-button:hover {
    background-color: #ff4e4e;
    transform: scale(1.05);
}
@media (max-width: 480px){
    .form-container{
        padding: 10px
    }
    .cta-button{
        width: 100%;
    }
}
.site-footer {
    background-color: #0a1a2f;
    color: #a0a0a0;
    padding: 30px 20px 15px;
    font-size: 14px;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}
.footer-left {
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer-logo {
    height: 30px;

}

.footer-right a {
  margin-left: 12px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #0a1a2f;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  font-size: 14px;
  transition: transform 0.3s, background-color 0.3s;
  text-decoration: none;
}

.footer-right img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: tranform 0,3s;
}

.footer-right a:hover {
  transform: scale(1.1);
  background-color: #ff6b6b;
  color: white;
}
.footer-bottom {
    text-align: center;
    margin-top: px;
    font-size: 12px;
    color: #666;
}