body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    
}

main {
    flex: 2;
    flex-direction: row;
    flex: auto;
}

article{
    flex: 2;
    overflow-y: auto;
    padding: 1rem;
}

aside {
    flex:1;
    overflow-y: auto;
    padding: 1rem;
    background-color: #f2f2f2;
}
header, footer {
    padding: 1rem;
    background-color:#ddd;
}
.logo{
    font-size: 2rem;
    color: rgb(12, 12, 12);
    padding-right: 1rem;

}